:root{
    font-size:120%;
    @media #{$mq-mobile-l}{
      font-size: 95%;
    }
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
    height: 100%;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
}
body{
    background-color: #fff;
    font-family: 'Roboto',sans-serif;
}
form{
    font-size: inherit;
    min-height: 100%;
    padding-bottom: 7em;
    position: relative;
}
img{
	box-sizing: content-box;
}
h1{font-size:1.5rem;}
h2{font-size:1.2rem;}
h3{font-size:1rem;}
h4{font-size:.9rem;}
nav{
    ul{
        li{
            list-style-type: none;
            a{
                text-decoration: none;
            }
        }
    }
}